.section {
    margin-top: 10px;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.803);
    position: relative;
}

h2 {
    margin-block-start: 0;
    text-align: center;
}

h3 {
    text-align: center;
}

.notice {
    font-size: smaller;
    text-align: center;
    color: rgb(109, 109, 109);
}

.songs-wrapper {
    flex-grow: 1;
    overflow-y: scroll;
}