@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');


body {
    margin: 0;

    font-family: 'Quicksand', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: linear-gradient(rgb(183, 63, 238), rgb(240, 168, 236));
    height: 100vh;
}