.landing-title {
    font-size: 6em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Pacifico', cursive;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.btn1 {
    width: 340px;
    height: 85px;
    background-color: rgb(150, 238, 238);
    border-radius: 80px;
    border: 0px solid rgb(150, 238, 238);
    position: absolute;
    /* right: 39%;
    top: 42%; */
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2.2em;
    font-family: 'Quicksand', sans-serif;

}

.btn2 {
    width: 340px;
    height: 85px;
    background-color: rgb(150, 238, 238);
    border-radius: 80px;
    border: 0px solid rgb(150, 238, 238);
    position: absolute;
    /* right: 39%;
    top: 57%; */
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2.2em;
    font-family: 'Quicksand', sans-serif;
}

.txtbox {
    width: 250px;
    height: 48px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 6px solid rgb(208, 216, 213);
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
}